<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <!-- Enables Item-level Language Fallback for Experience Edge -->
      <setting name="ExperienceEdge.EnableItemLanguageFallback">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!-- Enables Field-level Language Fallback for Experience Edge -->
      <setting name="ExperienceEdge.EnableFieldLanguageFallback">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>